# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# Output of 'npm pack'
*.tgz


# dotenv environment variable files
.env

# schema files for build
src/*-schema.json
src/*-schema.ts

# Built artifacts temporarily ignored until substantially ready
dist/
